Book_Modules/__pycache__/scripts.cpython-311.pyc
Book_Modules/__pycache__/scripts.cpython-311.pyc
HW_Solutions/
Student Solutions/
*.pyc
Book_Modules/spectral_images/
Book_Modules/.venv/
Book_Modules/__pycache__/
/HW_Starter_Code_Files/Project1_Partt1_Classification - starter_code/spectral_images
