
Book Modules/__pycache__/scripts.cpython-311.pyc
Book Modules/spectral_images/WashingtonDC_Ref_156bands/WashingtonDC_Ref_156bands
Book Modules/spectral_images/WashingtonDC_Ref_156bands/WashingtonDC_Ref_156bands.hdr
Book Modules/WashingtonDC_Ref_156bands
Book Modules/WashingtonDC_Ref_156bands.hdr
Book Modules/__pycache__/scripts.cpython-311.pyc
Book Modules/WashingtonDC_Ref_156bands
Book Modules/WashingtonDC_Ref_156bands.hdr
Book Modules/WashingtonDC_Ref_156bands
Book Modules/WashingtonDC_Ref_156bands.hdr
*.pyc
/Book Modules/spectral_images
/Book Modules/.venv
